<!-- выключено-----------------------------------------------------------------------------------------
<section class="modal modal-login">

    <h2>Личный кабинет</h2>
    <p class="modal-description">Введите пожалуйста свой логин и пароль</p>
        <p>Еще не зарегистрированы? <a class="restore" href="{%url 'registration'%}">Регистрация</a> </p>
    <form class="login-form" action="{%url 'user_login'%}" method="post">
        {% csrf_token %}
        {{ login_form.as_p }}
        <p class="login-help">
            <label class="login-checkbox">
                <input type="checkbox" name="remember" class="visually-hidden">
                <span class="checkbox-indicator"></span>
                Запомните меня
            </label>
            <a class="restore" href="#">Я забыл пароль!</a>
        </p>
        <button class="button" type="submit">Войти</button>
    </form>
    <button class="modal-close" type="button">Закрыть</button>
</section>

<script>
    var link = document.querySelector(".login-link");
    var popup = document.querySelector(".modal-login");
    var close = popup.querySelector(".modal-close");
    var form = popup.querySelector("form");
    var login = popup.querySelector("[name=login]");
    var password = popup.querySelector("[name=password]");
    var isStorageSupport = true;
    var storage = "";

    try {
        storage = localStorage.getItem("login");
    } catch (err) {
        isStorageSupport = false;
    }

    link.addEventListener("click", function (evt) {
        evt.preventDefault();
        popup.classList.add("modal-show");
        if (storage) {
            login.value = storage;
            password.focus();
        } else {
            login.focus();
        }
    });

    close.addEventListener("click", function (evt) {
        evt.preventDefault();
        popup.classList.remove("modal-show");
        popup.classList.remove("modal-error");
    });

    form.addEventListener("submit", function (evt) {
        if (!login.value || !password.value) {
            evt.preventDefault();
            popup.classList.remove("modal-error");
            popup.offsetWidth = popup.offsetWidth;
            popup.classList.add("modal-error");
        } else {
            if (isStorageSupport) {
                localStorage.setItem("login", login.value);
            }
        }
    });

    window.addEventListener("keydown", function (evt) {
        if (evt.keyCode === 27) {
            evt.preventDefault();
            if (popup.classList.contains("modal-show")) {
                popup.classList.remove("modal-show");
                popup.classList.remove("modal-error");
            }
        }
    });
</script>